* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tic-tac-toe {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.tic-tac-toe__board {
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board__button {
  font-size: 2.8em;
}
